.conectate:hover .otro-menu {
  opacity: 1;
  height: 216px;
}

.conectate:after {
  content: "";
  position: absolute;
  display: flex;
  width: 100%;
  height: 0px;
}

.conectate:hover:after {
  height: 50px;
}

.otro-menu {
  /* opacity: 0; */
  top: 47px;
  transition: all linear 0.15s;
  height: 0;
  overflow: hidden;
}
